.container {
  display: grid;
  grid-template-rows: 60px 60px 7auto 60px auto;
  grid-gap: 1px;
  margin: 0 auto;
  width: 60%;
  vertical-align: middle;
  height: auto;
}

@media (max-width: 1103px) {
  .container {
    width: 100%;
    align: auto;
    padding: 5%;
    wrap: wrap;
  }
}

.container__titles {
  display: grid;
  grid-template-columns: 1fr auto auto;
  background-color: rgb(254, 254, 254);
  padding-left: 20px;
  padding-right: 25px;
  align-items: center;
  gap: 20px;
  height: 50px auto;
}

.container__addTask {
  background-color: rgb(254, 254, 254);
  padding: 20px;
  height: auto;
  margin-bottom: 10px;
}

.container__tasks {
  display: grid;
  grid-template-columns: 95%;
  background-color: rgb(254, 254, 254);
  padding: 20px;
}

.container__list {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
